@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,800;1,600&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";



@keyframes highlight {
	0%{
        transform: scaleX(0.1);
    }50%{
        transform: scaleX();
    }100%{
        transform: scaleX(1);
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    color:rgb(58, 58, 58)
}

.main-screen {
    padding:0px var(--horizontal-pace);
}
