body {
    
}

#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(239, 239, 239);
    padding: 15px 0;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

#friends-display-link i {
    color: rgb(205, 205, 205);
    margin: 10px;
}

.friends-screen{
    padding: 0px var(--horizontal-pace);
}



.friends-screen__channel {
    margin-top: 25px;
    border-top:  1px solid rgba(0,0,0,0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
}