.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.nav__list{
    display: flex;
    justify-content: space-around;
}
.nav__link{
    color: rgb(52, 53, 54);
    position: relative;
}
.nav__notificaton {
    background-color: var(--pink);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 600;
    position: absolute;
    top: -15px;
    left: 20px;
}

.nav--setting{ 
    width: 6px;
    height: 6px;
    left: 30px;
    top:-12px;
}

